header {
    background-color: var(--color-background-header);
    color: #fff;
    text-align: center;
    padding: 10px 0;
	border-radius: 0px 0px 16px 16px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background: var(--color-background-body);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-size: contain;
    background-image: url("");
  }

html {
    height: 100%;
  }

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 24px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    border: 3px solid var(--color-border);
    background-color: var(--color-background);
    border-radius: 8px;
    padding: 12px;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-text);
}

footer {
    background-color: var(--color-background-header);
    color: #fff;
    text-align: center;
    padding: 10px 0;
	/* margin: 36px 0 0 0; */
	border-radius: 16px 16px 0 0;
}