<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список чатов</title>
    <style>
          {%  include "./styles/header_and_footer.css" %}
          {%  include "./styles/chats.css" %}
          {%  include "./styles/general_style.css" %}
    </style>

  </head>
  <body>

  <header>
    <h1>Справочник программного обеспечения для направления 09.04.01.03</h1>
    <nav>
        <ul>
          <li><a href="/login">
          {% if user_role_string != undefined %}
          {{ user_name }}
          {% else %}
          Войти
          {% endif %}
          </a></li>

            <li><a href="/find_software">Дисциплины</a></li>
            <li><a href="/current_chat">Обратная связь</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2 style="padding-left: 5%;"> Выберите чат с преподавателем: </h2>
    {% for user in users  %}

        <section class="user-card">
  <a class="user-card-section" href="/current_chat?with={{user.user_id}}">
  <h2 style="padding: 2% 0 2% 5%; width: 100%;">{{ user.user_name }}</h2>
  </a>

 </section>

      {% endfor %}

</main>
<footer>
  <p>&copy; 2024 Разработчики: Тоидзе Александр Сергеевич, Соломонов Ифраим Михайлович </p> <p> Справочник программного обеспечения для направления 09.04.01.03</p>
	<p>Все права защищены.</p>
</footer>

<script>
    {% include "./helper/handleHtmlScripts.js"%}
</script>

  </body>
</html>