.login-card {
    border: 2px solid #8860d0;
    border-radius: 24px;
    background: #5ab9ea;

    /* margin: 16px 0px 16px 0px;
    padding: 4px 0px 4px 36px; */
    width: 90%;
    /* display: flex;
    justify-content: space-between; */
    
    margin-top: 16px;
    margin-bottom: 16px;
	margin-left: auto;
    margin-right: auto;
}

.login-card h2 {
    text-align: center;
    /* background-color: #8860d0; */
}

.login-card-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.login-button {
    display: inline-block;
    background-color: #007bff;
    border: 3px solid #007bff;
    color: #fff;
    padding: 10px 20px;
    margin-left: 48px;
    margin-right: auto;
    margin-bottom: 24px;
    text-decoration: none;
    border-radius: 5px;
    
  }
  
  .login-button:hover {
    /* background-color: #0056b3; */
    border: 3px solid #8860d0;
  
  }

  /* установим отступ 1rem от нижнего края элемента */
.text-field {
    margin-bottom: 1rem;
  }
  /* стили для label */
  .text-field__label {
    display: block;
    margin-bottom: 0.25rem;
  }
  /* стили для input */
  .text-field__input {
    display: block;
    width: 50%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #5ab9ea;

  }

  .text-field__input:focus {
    border: 3px solid #8860d0;

    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }

  .user-card {
    border: 2px solid #8860d0;
      background: #5ab9ea;
    border-radius: 24px;
    margin: 16px 0px 16px 0px;
    padding: 4px 0px 4px 36px;
    width: 90%;
  margin-left: auto;
    margin-right: auto;
  }

  .user-card-empty {
    border: 2px solid #8860d0;
      background: #5ab9ea;
    border-radius: 24px;
    margin: 16px 0px 16px 0px;
    padding: 4px 0px 4px 36px;
    width: 90%;
    margin-top: 2%;
  margin-left: auto;
    margin-right: auto;
  }
  
  .user-card h2 {
    padding: 8px;
  }

  .logout-button {
    display: inline-block;
    background-color: red;
    border: 3px solid #F08080;
    margin-bottom: 16px;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
  }
  
  .logout-button:hover {
    background-color: #b22222;
    border: 3px solid #8b0000;
  
  }

  .forgot-password-button {
    display: inline-block;
    background-color: #007bff;
    border: 3px solid #007bff;
    margin-bottom: 16px;
    margin-right: 24px;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
  }

  .forgot-password-button:hover {
    border: 3px solid #8860d0;
  }